*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}

/* HEADER */
header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:#1f2026;
    z-index:100;
}
i{
    font-size: 50px;
    color: greenyellow;
}
.form-label{
    font-size: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.img{
    width: 100%;
    height: 100vh;
    background-image: url("contact.jfif");
    background-size: cover;
    background-position: repeat;
    background-repeat: no-repeat;
    font-size: bolder;
}

.logo h1{
    color:white;
    font-size:32px;
}

.logo p{
    color:#d0d0d0;
    font-size:12px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    font-size:14px;
}

.appointment-btn{
    text-decoration:none;
    background:#b89c84;
    color:white;
    padding:15px 30px;
    font-weight:bold;
}

/* HERO SECTION */
.hero{
    width: 100%;
    height:100vh;
    background:url("contact.jfif") center center/cover no-repeat;
    position:relative;
    object-fit: cover;
    display: block;
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.45);
}

.hero-content{
    position:absolute;
    top:55%;
    left:60px;
    transform:translateY(-50%);
    color:white;
    font-size: bolder;
    z-index:2;
    max-width:700px;
}

.hero-content h3{
    font-size:22px;
    margin-bottom:20px;
    font-weight:normal;
}

.hero-content h1{
    font-size:70px;
    line-height:1.1;
    margin-bottom:25px;
}


.hero-content p{
    font-size:22px;
    line-height:1.6;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    background:#b89c84;
    color:white;
    text-decoration:none;
    padding:15px 30px;
    font-weight:bold;
}