*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}

/* HEADER */
header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:#1f2026;
    z-index:100;
}
i{
    font-size: 50px;
    color:rgb(208, 211, 24);
}

.img{
    width: 100%;
    height: 100vh;
    background-image: url("hair1.jpg");
    background-size: cover;
    background-position: repeat;
    background-repeat: no-repeat;
}

.logo h1{
    color:white;
    font-size:32px;
}

.logo p{
    color:#d0d0d0;
    font-size:12px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    font-size:14px;
}

.appointment-btn{
    text-decoration:none;
    background:#b89c84;
    color:white;
    padding:15px 30px;
    font-weight:bold;
}

/* HERO SECTION */
.hero{
    width: 100%;
    height:100vh;
    background:url("hair1.jpg") center center/cover no-repeat;
    position:relative;
    object-fit: cover;
    display: block;
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.45);
}

.hero-content{
    position:absolute;
    top:55%;
    left:60px;
    transform:translateY(-50%);
    color:white;
    z-index:2;
    max-width:700px;
}

.hero-content h3{
    font-size:22px;
    margin-bottom:20px;
    font-weight:normal;
}

.hero-content h1{
    font-size:70px;
    line-height:1.1;
    margin-bottom:25px;
}


.hero-content p{
    font-size:22px;
    line-height:1.6;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    background:#b89c84;
    color:white;
    text-decoration:none;
    padding:15px 30px;
    font-weight:bold;
}

.menu-toggle{
    display:none;
    background:none;
    border:none;
    color:white;
    font-size:32px;
    cursor:pointer;
}

@media(max-width:425px){

   #navLinks{
        display:none;
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        background:#1f2026;
    }

    navLinks.active{
        display:block;
    }

    navLinks ul{
        flex-direction:column;
        gap:0;
    }

    navLinks ul li{
        text-align:center;
        padding:15px 0;
        border-top:1px solid rgba(255,255,255,0.1);
    }

    .menu-toggle{
        display:block;
    }

    .appointment-btn{
        display:none;
    }
}
@media(max-width:425px){

    nav{
        display:none;
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        background:#1f2026;
    }

    nav.active{
        display:block;
    }

    nav ul{
        flex-direction:column;
        gap:0;
    }

    nav ul li{
        text-align:center;
        padding:15px 0;
        border-top:1px solid rgba(255,255,255,0.1);
    }

    .menu-toggle{
        display:block;
    }

    .appointment-btn{
        display:none;
    }
}
@media(max-width:375px){

    nav{
        display:none;
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        background:#1f2026;
    }

    nav.active{
        display:block;
    }

    nav ul{
        flex-direction:column;
        gap:0;
    }

    nav ul li{
        text-align:center;
        padding:15px 0;
        border-top:1px solid rgba(255,255,255,0.1);
    }

    .menu-toggle{
        display:block;
    }

    .appointment-btn{
        display:none;
    }
}
@media(max-width:425px){

    nav{
        display:none;
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        background:#1f2026;
    }

    nav.active{
        display:block;
    }

    nav ul{
        flex-direction:column;
        gap:0;
    }

    nav ul li{
        text-align:center;
        padding:15px 0;
        border-top:1px solid rgba(255,255,255,0.1);
    }

    .menu-toggle{
        display:block;
    }

    .appointment-btn{
        display:none;
    }
}

