*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}

header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:20px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:1000;
    background:rgba(20,20,20,0.45);
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo h1{
    color:#fff;
    font-size:28px;
}

.logo p{
    color:#d4d4d4;
    font-size:12px;
}

#navLinks ul{
    display:flex;
    list-style:none;
    gap:40px;
}

#navLinks ul li a{
    color:#fff;
    text-decoration:none;
    font-size:13px;
    font-weight:600;
    transition:.3s;
}

#navLinks ul li a:hover{
    color:#b89c84;
}

.appointment-btn{
    background:#b89c84;
    color:#fff;
    padding:14px 28px;
    text-decoration:none;
    font-size:13px;
    font-weight:bold;
}
