.services{
    padding:80px 10%;
    background:#f8f8f8;
    text-align:center;
}

.services h1{
    font-size:50px;
    margin-bottom:15px;
}

.subtitle{
    font-size:18px;
    color:#666;
    margin-bottom:50px;
}

.service-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.service-card{

    background:rgb(33, 151, 136);
    padding:30px;
    border-radius:10px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.service-card:hover{
    transform:translateY(-10px);
}

.service-card h2{
    margin-bottom:15px;
    color:#1f2026;
}

.service-card p{
    color:#555;
    line-height:1.6;
}